**
!package.json
!package-lock.json
!.npmrc
!engine/
!engine/package.json
!engine/src/
!engine/src/**
!client/
!client/package.json
!server/
!server/**
**/node_modules
**/dist
**/__pycache__
**/.pytest_cache
**/.env
**/.env.*
**/.venv
**/venv
**/.local
**/*.pyc
